@import "~susy/sass/susy";
@import '~node-normalize-scss/normalize';
@include border-box-sizing;

/* Changing Susy default global settings */
$susy: (
  columns: 12,
  container: 1120px,
  global-box-sizing: border-box
  );

/* Makes border-box properties */
@include border-box-sizing;


$grey: #333;

.app-container{
  padding: 20px;
  @include container();
}

.controls{
  display: block;
  cursor: pointer;
}

.stage{
  min-height: 100px;
}

.block{
  display: inline-block;
  width: 10px;
  height: 10px;
  background: $grey;
  margin: 1px;
}


.display-group {
  @include span(6);
  canvas{
    width: 100%;
    height: 100%;
  }
  &:last-child {
    @include span(6 last);
  }
}


input{
  max-width: 200px;
  width: 100%;
}
